USE [master]
GO
/****** Object:  Database [BanVeXemPhim]    Script Date: 10/10/2025 9:44:51 PM ******/
CREATE DATABASE [BanVeXemPhim]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BanVeXemPhim', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NQTAM1\MSSQL\DATA\BanVeXemPhim.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BanVeXemPhim_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.NQTAM1\MSSQL\DATA\BanVeXemPhim_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BanVeXemPhim].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BanVeXemPhim]
GO
/****** Object:  Table [dbo].[DoanhThu]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoanhThu](
	[MaDoanhThu] [int] IDENTITY(1,1) NOT NULL,
	[MaSuatChieu] [int] NULL,
	[TongTien] [decimal](15, 2) NULL,
	[HoaHongDaiLy] [decimal](5, 2) NULL,
	[NgayTao] [datetime] NOT NULL,
	[SoVeBan] [int] NOT NULL,
	[TongGiaVe] [decimal](15, 2) NOT NULL,
	[DoanhThuThuc]  AS ([TongTien]-([TongTien]*[HoaHongDaiLy])/(100)),
	[ActualRevenue] [decimal](15, 2) NULL,
	[CreatedDate] [datetime] NULL,
	[TicketsSold] [int] NULL,
	[TotalTicketPrice] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDoanhThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phim]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phim](
	[MaPhim] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](255) NOT NULL,
	[TheLoai] [nvarchar](255) NULL,
	[ThoiLuong] [int] NULL,
	[MoTa] [nvarchar](255) NULL,
	[AnhBia] [nvarchar](255) NULL,
	[Trailer] [nvarchar](255) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RapPhim]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RapPhim](
	[MaRap] [int] IDENTITY(1,1) NOT NULL,
	[TenRap] [nvarchar](100) NOT NULL,
	[DiaDiem] [nvarchar](255) NULL,
	[SoPhong] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaRap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SuatChieu]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SuatChieu](
	[MaSuatChieu] [int] IDENTITY(1,1) NOT NULL,
	[MaPhim] [int] NULL,
	[MaRap] [int] NULL,
	[NgayChieu] [date] NOT NULL,
	[GioChieu] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSuatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[MaThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[MaVe] [int] NULL,
	[SoTien] [decimal](10, 2) NOT NULL,
	[PhuongThucThanhToan] [nvarchar](50) NULL,
	[NgayThanhToan] [datetime] NULL,
	[MaGiamGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ve]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ve](
	[MaVe] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiDung] [int] NULL,
	[MaSuatChieu] [int] NULL,
	[MaGhe] [int] NULL,
	[GiaVe] [decimal](10, 2) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[GiaGoc] [decimal](10, 2) NULL,
	[MaGiamGia] [int] NULL,
	[GiaTriGiamGia] [decimal](10, 2) NULL,
	[NgayTao] [datetime] NULL,
	[NgayCapNhat] [datetime] NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DoanhThuThucTe]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create updated view that matches the backend model structure
CREATE VIEW [dbo].[vw_DoanhThuThucTe] AS
SELECT 
    sc.[MaSuatChieu] AS [ShowtimeId],
    sc.[NgayChieu] AS [ShowDate],
    sc.[GioChieu] AS [ShowTime],
    p.[TieuDe] AS [MovieTitle],
    r.[TenRap] AS [TheaterName],
    r.[DiaDiem] AS [TheaterLocation],
    COUNT(v.[MaVe]) AS [TicketsSold],
    ISNULL(SUM(v.[GiaVe]), 0) AS [TotalTicketPrice],
    ISNULL(SUM(t.[SoTien]), 0) AS [TotalPaymentAmount],
    ISNULL(AVG(dt.[HoaHongDaiLy]), 5.00) AS [AgencyCommission],
    ISNULL(SUM(t.[SoTien]), 0) - (ISNULL(SUM(t.[SoTien]), 0) * ISNULL(AVG(dt.[HoaHongDaiLy]), 5.00) / 100) AS [ActualRevenue]
FROM [dbo].[SuatChieu] sc
LEFT JOIN [dbo].[Phim] p ON sc.[MaPhim] = p.[MaPhim]
LEFT JOIN [dbo].[RapPhim] r ON sc.[MaRap] = r.[MaRap]
LEFT JOIN [dbo].[Ve] v ON sc.[MaSuatChieu] = v.[MaSuatChieu] AND v.[TrangThai] = 'DaThanhToan'
LEFT JOIN [dbo].[ThanhToan] t ON v.[MaVe] = t.[MaVe]
LEFT JOIN [dbo].[DoanhThu] dt ON sc.[MaSuatChieu] = dt.[MaSuatChieu]
GROUP BY sc.[MaSuatChieu], sc.[NgayChieu], sc.[GioChieu], p.[TieuDe], r.[TenRap], r.[DiaDiem]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ghe]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ghe](
	[MaGhe] [int] IDENTITY(1,1) NOT NULL,
	[MaRap] [int] NULL,
	[MaSoGhe] [nvarchar](10) NOT NULL,
	[LoaiGhe] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GiamGia]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GiamGia](
	[MaGiamGia] [int] IDENTITY(1,1) NOT NULL,
	[MaCode] [nvarchar](50) NOT NULL,
	[MoTa] [nvarchar](50) NULL,
	[LoaiGiamGia] [nvarchar](50) NOT NULL,
	[GiaTri] [decimal](10, 2) NOT NULL,
	[NgayHetHan] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiamGia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDung]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDung](
	[MaNguoiDung] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[VaiTro] [nvarchar](50) NULL,
	[TrangThai] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DoanhThu] ON 

INSERT [dbo].[DoanhThu] ([MaDoanhThu], [MaSuatChieu], [TongTien], [HoaHongDaiLy], [NgayTao], [SoVeBan], [TongGiaVe], [ActualRevenue], [CreatedDate], [TicketsSold], [TotalTicketPrice]) VALUES (1, 1, CAST(0.00 AS Decimal(15, 2)), CAST(5.00 AS Decimal(5, 2)), CAST(N'2025-09-15T08:08:43.573' AS DateTime), 0, CAST(0.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(N'2025-09-15T09:24:17.760' AS DateTime), 0, CAST(0.00 AS Decimal(15, 2)))
INSERT [dbo].[DoanhThu] ([MaDoanhThu], [MaSuatChieu], [TongTien], [HoaHongDaiLy], [NgayTao], [SoVeBan], [TongGiaVe], [ActualRevenue], [CreatedDate], [TicketsSold], [TotalTicketPrice]) VALUES (2, 2, CAST(0.00 AS Decimal(15, 2)), CAST(5.00 AS Decimal(5, 2)), CAST(N'2025-09-15T08:08:43.573' AS DateTime), 0, CAST(0.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(N'2025-09-15T09:24:17.760' AS DateTime), 0, CAST(0.00 AS Decimal(15, 2)))
INSERT [dbo].[DoanhThu] ([MaDoanhThu], [MaSuatChieu], [TongTien], [HoaHongDaiLy], [NgayTao], [SoVeBan], [TongGiaVe], [ActualRevenue], [CreatedDate], [TicketsSold], [TotalTicketPrice]) VALUES (3, 8, CAST(90000.00 AS Decimal(15, 2)), CAST(5.00 AS Decimal(5, 2)), CAST(N'2025-09-15T09:27:32.350' AS DateTime), 7, CAST(515000.00 AS Decimal(15, 2)), NULL, CAST(N'2025-09-15T09:27:32.390' AS DateTime), 0, CAST(0.00 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[DoanhThu] OFF
GO
SET IDENTITY_INSERT [dbo].[Ghe] ON 

INSERT [dbo].[Ghe] ([MaGhe], [MaRap], [MaSoGhe], [LoaiGhe]) VALUES (31, 1, N'A1', N'VIP')
INSERT [dbo].[Ghe] ([MaGhe], [MaRap], [MaSoGhe], [LoaiGhe]) VALUES (32, 1, N'A2', N'VIP')
INSERT [dbo].[Ghe] ([MaGhe], [MaRap], [MaSoGhe], [LoaiGhe]) VALUES (33, 1, N'A3', N'VIP')
GO
SET IDENTITY_INSERT [dbo].[Ghe] OFF
GO
SET IDENTITY_INSERT [dbo].[GiamGia] ON 

INSERT [dbo].[GiamGia] ([MaGiamGia], [MaCode], [MoTa], [LoaiGiamGia], [GiaTri], [NgayHetHan]) VALUES (1, N'DISCOUNT10', N'Giảm 10%', N'phantram', CAST(10.00 AS Decimal(10, 2)), CAST(N'2025-09-27' AS Date))
INSERT [dbo].[GiamGia] ([MaGiamGia], [MaCode], [MoTa], [LoaiGiamGia], [GiaTri], [NgayHetHan]) VALUES (2, N'2', N'Giảm 50.000 VND
', N'codinh', CAST(50000.00 AS Decimal(10, 2)), CAST(N'2025-11-02' AS Date))
SET IDENTITY_INSERT [dbo].[GiamGia] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDung] ON 

INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Email], [SoDienThoai], [VaiTro], [TrangThai]) VALUES (1, N'doanquan', N'$2a$12$9zb1KReOgMBalO.Zn23RY.psk2pxOeARNvoVf4C0Aer4c3jUCV6lu', N'doanquan6805@gmail.com', N'0359271424', N'Admin', N'hoatdong')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Email], [SoDienThoai], [VaiTro], [TrangThai]) VALUES (2, N'vanthinh', N'$2a$12$9zb1KReOgMBalO.Zn23RY.psk2pxOeARNvoVf4C0Aer4c3jUCV6lu', N'thinhvannguyen113@gmail.com', N'0343841426', N'Admin', N'hoatdong')
INSERT [dbo].[NguoiDung] ([MaNguoiDung], [TenDangNhap], [MatKhau], [Email], [SoDienThoai], [VaiTro], [TrangThai]) VALUES (3, N'quangtam', N'$2a$12$o2Ge3iJr6HpEKpEX3kHgIezpIKICsMLVJcFO053xlAdSy/P5xlOLi', N'nguyenquangtam179@gmail.com', N'0961138440', N'Admin', N'hoatdong')
SET IDENTITY_INSERT [dbo].[NguoiDung] OFF
GO
SET IDENTITY_INSERT [dbo].[Phim] ON 

INSERT [dbo].[Phim] ([MaPhim], [TieuDe], [TheLoai], [ThoiLuong], [MoTa], [AnhBia], [Trailer], [TrangThai]) VALUES (1, N'Avengers: Endgame', N'Hành động, Khoa học viễn tưởng', 181, N'Một đỉnh cao của 22 bộ phim liên kết', N'img/poster_20250913_080428_36910cf2.jpg', N'https://www.youtube.com/embed/TcMBFSGVi1c', N'dangchieu')
INSERT [dbo].[Phim] ([MaPhim], [TieuDe], [TheLoai], [ThoiLuong], [MoTa], [AnhBia], [Trailer], [TrangThai]) VALUES (2, N'The Lion King', N'Hoạt hình, kinh điển', 118, N'Bản làm lại của bộ phim hoạt hình kinh điển', N'img/poster_20250913_080422_6bba869f.jpg', N'https://www.youtube.com/embed/7TavVZMewpY', N'dangchieu')
INSERT [dbo].[Phim] ([MaPhim], [TieuDe], [TheLoai], [ThoiLuong], [MoTa], [AnhBia], [Trailer], [TrangThai]) VALUES (3, N'Inception', N'Khoa_hoc_vien_tuong, Gay_can', 148, N'Mot bo phimFAC phim cuop giat tam tri.', N'img/poster_20250913_080416_f0f0c97e.jpg', N'https://www.youtube.com/watch?v=YoHD9XEInc0&pp=ygURaW5jZXB0aW9uIHRyYWlsZXI%3D', N'ngungchieu')
SET IDENTITY_INSERT [dbo].[Phim] OFF
GO
SET IDENTITY_INSERT [dbo].[RapPhim] ON 

INSERT [dbo].[RapPhim] ([MaRap], [TenRap], [DiaDiem], [SoPhong]) VALUES (1, N'CGV Vincom', N'Ha Noi, Viet Nam', 1)
INSERT [dbo].[RapPhim] ([MaRap], [TenRap], [DiaDiem], [SoPhong]) VALUES (2, N'BHD Star Cineplex', N'TP Ho Chi Minh, Viet Nam', 2)
INSERT [dbo].[RapPhim] ([MaRap], [TenRap], [DiaDiem], [SoPhong]) VALUES (3, N'Lotte Cinema', N'Da Nang, Viet Nam', 3)
SET IDENTITY_INSERT [dbo].[RapPhim] OFF
GO
SET IDENTITY_INSERT [dbo].[SuatChieu] ON 

INSERT [dbo].[SuatChieu] ([MaSuatChieu], [MaPhim], [MaRap], [NgayChieu], [GioChieu]) VALUES (1, 1, 1, CAST(N'2025-08-26' AS Date), CAST(N'14:30:00' AS Time))
INSERT [dbo].[SuatChieu] ([MaSuatChieu], [MaPhim], [MaRap], [NgayChieu], [GioChieu]) VALUES (2, 2, 2, CAST(N'2025-08-27' AS Date), CAST(N'18:00:00' AS Time))
INSERT [dbo].[SuatChieu] ([MaSuatChieu], [MaPhim], [MaRap], [NgayChieu], [GioChieu]) VALUES (3, 3, 3, CAST(N'2025-08-28' AS Date), CAST(N'20:15:00' AS Time))
SET IDENTITY_INSERT [dbo].[SuatChieu] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhToan] ON 

INSERT [dbo].[ThanhToan] ([MaThanhToan], [MaVe], [SoTien], [PhuongThucThanhToan], [NgayThanhToan], [MaGiamGia]) VALUES (1, 1, CAST(45000.00 AS Decimal(10, 2)), N'momo', CAST(N'2025-09-13T07:14:44.683' AS DateTime), NULL)
INSERT [dbo].[ThanhToan] ([MaThanhToan], [MaVe], [SoTien], [PhuongThucThanhToan], [NgayThanhToan], [MaGiamGia]) VALUES (2, 26, CAST(45000.00 AS Decimal(10, 2)), N'momo', CAST(N'2025-09-15T09:41:13.350' AS DateTime), NULL)
INSERT [dbo].[ThanhToan] ([MaThanhToan], [MaVe], [SoTien], [PhuongThucThanhToan], [NgayThanhToan], [MaGiamGia]) VALUES (3, 27, CAST(45000.00 AS Decimal(10, 2)), N'momo', CAST(N'2025-09-15T09:48:08.250' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[ThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[Ve] ON 

INSERT [dbo].[Ve] ([MaVe], [MaNguoiDung], [MaSuatChieu], [MaGhe], [GiaVe], [TrangThai], [GiaGoc], [MaGiamGia], [GiaTriGiamGia], [NgayTao], [NgayCapNhat], [GhiChu]) VALUES (1, 3, 5, 35, CAST(95000.00 AS Decimal(10, 2)), N'DaThanhToan', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Ve] ([MaVe], [MaNguoiDung], [MaSuatChieu], [MaGhe], [GiaVe], [TrangThai], [GiaGoc], [MaGiamGia], [GiaTriGiamGia], [NgayTao], [NgayCapNhat], [GhiChu]) VALUES (12, 3, 7, 47, CAST(95000.00 AS Decimal(10, 2)), N'DaThanhToan', NULL, NULL, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-09-15T08:36:43.500' AS DateTime), CAST(N'2025-09-15T08:36:43.500' AS DateTime), NULL)
INSERT [dbo].[Ve] ([MaVe], [MaNguoiDung], [MaSuatChieu], [MaGhe], [GiaVe], [TrangThai], [GiaGoc], [MaGiamGia], [GiaTriGiamGia], [NgayTao], [NgayCapNhat], [GhiChu]) VALUES (13, 3, 7, 31, CAST(95000.00 AS Decimal(10, 2)), N'DaThanhToan', NULL, NULL, CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-09-15T08:37:19.067' AS DateTime), CAST(N'2025-09-15T08:37:19.067' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Ve] OFF
GO
/****** Object:  Index [IX_DoanhThu_MaSuatChieu]    Script Date: 10/10/2025 9:44:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_DoanhThu_MaSuatChieu] ON [dbo].[DoanhThu]
(
	[MaSuatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__GiamGia__152C7C5CF4E87C96]    Script Date: 10/10/2025 9:44:51 PM ******/
ALTER TABLE [dbo].[GiamGia] ADD UNIQUE NONCLUSTERED 
(
	[MaCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__55F68FC00D6FEBF5]    Script Date: 10/10/2025 9:44:51 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__NguoiDun__A9D10534333420C0]    Script Date: 10/10/2025 9:44:51 PM ******/
ALTER TABLE [dbo].[NguoiDung] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ThanhToa__2725100E4823C752]    Script Date: 10/10/2025 9:44:51 PM ******/
ALTER TABLE [dbo].[ThanhToan] ADD UNIQUE NONCLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThanhToan_MaVe]    Script Date: 10/10/2025 9:44:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThanhToan_MaVe] ON [dbo].[ThanhToan]
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Ve_MaSuatChieu_TrangThai]    Script Date: 10/10/2025 9:44:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_Ve_MaSuatChieu_TrangThai] ON [dbo].[Ve]
(
	[MaSuatChieu] ASC,
	[TrangThai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT ((0)) FOR [TongTien]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT ((0)) FOR [HoaHongDaiLy]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT ((0)) FOR [SoVeBan]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT ((0)) FOR [TongGiaVe]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT ((0)) FOR [TicketsSold]
GO
ALTER TABLE [dbo].[DoanhThu] ADD  DEFAULT ((0)) FOR [TotalTicketPrice]
GO
ALTER TABLE [dbo].[Ghe] ADD  DEFAULT ('thuong') FOR [LoaiGhe]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ('NguoiDung') FOR [VaiTro]
GO
ALTER TABLE [dbo].[NguoiDung] ADD  DEFAULT ('hoatdong') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Phim] ADD  DEFAULT ('sapchieu') FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[Ve] ADD  CONSTRAINT [DF_Ve_TrangThai]  DEFAULT ('ChoXuLy') FOR [TrangThai]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT ((0)) FOR [GiaTriGiamGia]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT (getdate()) FOR [NgayTao]
GO
ALTER TABLE [dbo].[Ve] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[DoanhThu]  WITH CHECK ADD FOREIGN KEY([MaSuatChieu])
REFERENCES [dbo].[SuatChieu] ([MaSuatChieu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD FOREIGN KEY([MaRap])
REFERENCES [dbo].[RapPhim] ([MaRap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD FOREIGN KEY([MaPhim])
REFERENCES [dbo].[Phim] ([MaPhim])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SuatChieu]  WITH CHECK ADD FOREIGN KEY([MaRap])
REFERENCES [dbo].[RapPhim] ([MaRap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([MaVe])
REFERENCES [dbo].[Ve] ([MaVe])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD  CONSTRAINT [FK_ThanhToan_GiamGia] FOREIGN KEY([MaGiamGia])
REFERENCES [dbo].[GiamGia] ([MaGiamGia])
GO
ALTER TABLE [dbo].[ThanhToan] CHECK CONSTRAINT [FK_ThanhToan_GiamGia]
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([MaGhe])
REFERENCES [dbo].[Ghe] ([MaGhe])
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([MaNguoiDung])
REFERENCES [dbo].[NguoiDung] ([MaNguoiDung])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD FOREIGN KEY([MaSuatChieu])
REFERENCES [dbo].[SuatChieu] ([MaSuatChieu])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ghe]  WITH CHECK ADD CHECK  (([LoaiGhe]='VIP' OR [LoaiGhe]='thuong'))
GO
ALTER TABLE [dbo].[GiamGia]  WITH CHECK ADD CHECK  (([LoaiGiamGia]='codinh' OR [LoaiGiamGia]='phantram'))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([TrangThai]='khonghoatdong' OR [TrangThai]='hoatdong'))
GO
ALTER TABLE [dbo].[NguoiDung]  WITH CHECK ADD CHECK  (([VaiTro]='DaiLy' OR [VaiTro]='Admin' OR [VaiTro]='NguoiDung'))
GO
ALTER TABLE [dbo].[Phim]  WITH CHECK ADD CHECK  (([TrangThai]='ngungchieu' OR [TrangThai]='sapchieu' OR [TrangThai]='dangchieu'))
GO
ALTER TABLE [dbo].[Ve]  WITH CHECK ADD  CONSTRAINT [CK_Ve_TrangThai] CHECK  (([TrangThai]='DaHuy' OR [TrangThai]='DaThanhToan' OR [TrangThai]='ChoXuLy'))
GO
ALTER TABLE [dbo].[Ve] CHECK CONSTRAINT [CK_Ve_TrangThai]
GO
/****** Object:  StoredProcedure [dbo].[sp_SyncRevenueData]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Create a stored procedure to sync revenue data with actual ticket sales
CREATE   PROCEDURE [dbo].[sp_SyncRevenueData]
    @MaSuatChieu INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @SoVeBan INT, @TongGiaVe DECIMAL(15,2), @TongTienThanhToan DECIMAL(15,2), @HoaHongDaiLy DECIMAL(5,2)
    
    -- Calculate actual sales data from tickets and payments
    SELECT 
        @SoVeBan = COUNT(v.[MaVe]),
        @TongGiaVe = ISNULL(SUM(v.[GiaVe]), 0),
        @TongTienThanhToan = ISNULL(SUM(t.[SoTien]), 0)
    FROM [dbo].[Ve] v
    LEFT JOIN [dbo].[ThanhToan] t ON v.[MaVe] = t.[MaVe]
    WHERE v.[MaSuatChieu] = @MaSuatChieu 
    AND v.[TrangThai] = 'DaThanhToan'
    
    -- Get commission rate (default 5% if not set)
    SELECT @HoaHongDaiLy = ISNULL([HoaHongDaiLy], 5.00)
    FROM [dbo].[DoanhThu] 
    WHERE [MaSuatChieu] = @MaSuatChieu
    
    -- Update or insert revenue record
    IF EXISTS (SELECT 1 FROM [dbo].[DoanhThu] WHERE [MaSuatChieu] = @MaSuatChieu)
    BEGIN
        UPDATE [dbo].[DoanhThu] 
        SET 
            [TongTien] = @TongTienThanhToan,
            [SoVeBan] = @SoVeBan,
            [TongGiaVe] = @TongGiaVe,
            [HoaHongDaiLy] = @HoaHongDaiLy,
            [ActualRevenue] = @TongTienThanhToan - (@TongTienThanhToan * @HoaHongDaiLy / 100),
            [CreatedDate] = GETDATE()
        WHERE [MaSuatChieu] = @MaSuatChieu
    END
    ELSE
    BEGIN
        INSERT INTO [dbo].[DoanhThu] ([MaSuatChieu], [TongTien], [HoaHongDaiLy], [SoVeBan], [TongGiaVe], [ActualRevenue], [CreatedDate])
        VALUES (@MaSuatChieu, @TongTienThanhToan, @HoaHongDaiLy, @SoVeBan, @TongGiaVe, 
                @TongTienThanhToan - (@TongTienThanhToan * @HoaHongDaiLy / 100), GETDATE())
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDoanhThu]    Script Date: 10/10/2025 9:44:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 5. Create a stored procedure to update revenue data
CREATE PROCEDURE [dbo].[sp_UpdateDoanhThu]
    @MaSuatChieu INT
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE @SoVeBan INT, @TongGiaVe DECIMAL(15,2), @TongTienThanhToan DECIMAL(15,2), @HoaHongDaiLy DECIMAL(5,2)
    
    -- Calculate actual sales data
    SELECT 
        @SoVeBan = COUNT(v.[MaVe]),
        @TongGiaVe = ISNULL(SUM(v.[GiaVe]), 0),
        @TongTienThanhToan = ISNULL(SUM(t.[SoTien]), 0)
    FROM [dbo].[Ve] v
    LEFT JOIN [dbo].[ThanhToan] t ON v.[MaVe] = t.[MaVe]
    WHERE v.[MaSuatChieu] = @MaSuatChieu 
    AND v.[TrangThai] = 'DaThanhToan'
    
    -- Get commission rate (default 5% if not set)
    SELECT @HoaHongDaiLy = ISNULL([HoaHongDaiLy], 5.00)
    FROM [dbo].[DoanhThu] 
    WHERE [MaSuatChieu] = @MaSuatChieu
    
    -- Update or insert revenue record
    IF EXISTS (SELECT 1 FROM [dbo].[DoanhThu] WHERE [MaSuatChieu] = @MaSuatChieu)
    BEGIN
        UPDATE [dbo].[DoanhThu] 
        SET 
            [TongTien] = @TongTienThanhToan,
            [SoVeBan] = @SoVeBan,
            [TongGiaVe] = @TongGiaVe,
            [HoaHongDaiLy] = @HoaHongDaiLy
        WHERE [MaSuatChieu] = @MaSuatChieu
    END
    ELSE
    BEGIN
        INSERT INTO [dbo].[DoanhThu] ([MaSuatChieu], [TongTien], [HoaHongDaiLy], [SoVeBan], [TongGiaVe])
        VALUES (@MaSuatChieu, @TongTienThanhToan, @HoaHongDaiLy, @SoVeBan, @TongGiaVe)
    END
END

GO
USE [master]
GO
